.track {
    background: url('../img/track/bcgtrack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
    }
    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    &__title {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    &__text {
        max-width: 435px;
    }
    &__bcg {
        margin: auto auto 30px auto;
    }
    &__img {
    }
}